<!DOCTYPE HTML>
<html>
  <head>
    <meta content="width=device-width" name="viewport" />
    <title>The Web Index</title>
    <script src="../js/libraries/wesCountry.min.js"></script>
  </head>
  <body>
    <select id="indicator-select">
      {{#indicators}}
       <option value="{{indicator}}">{{name}}</option>
       <optgroup label="&nbsp;---------------">
         {{#children}}
            <option value="{{indicator}}">{{name}}</option>
            <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;---------------">
            {{#children}}
               <option value="{{indicator}}">&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</option>
               <optgroup label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;---------------------------------------------">
                 {{#children}}
                    <option value="{{indicator}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{name}}</option>
                 {{/children}}
               </optgroup>
            {{/children}}
          </optgroup>
         {{/children}}
       </optgroup>
      {{/indicators}}
    </select>

    <select id="area-select">
      {{#areas}}
       <option value="{{iso3}}">{{name}}</option>
       <optgroup label="&nbsp;---------------">
         {{#countries}}
            <option value="{{iso3}}">{{name}}</option>
         {{/countries}}
       </optgroup>
      {{/areas}}
    </select>

    <select id="year-select">
      {{#each years}}
       <option>{{value}}</option>
      {{/each}}
    </select>

    <script src="../js/data.js"></script>
  </body>
</html>
